<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>Orateur à Devoxx</h1>
                <h3>Présentez-vous en quelques mots</h3>
            </div>
        </div>
    </div>
</div>

<div class="area lightgrey">
    <div>
        <form>
            <div class="grid">
                <div class="row" ng-hide="profileComplete">
                    <div class="col12">
                        <p class="label label-danger">
                            <h4>Votre profil n'est pas encore complet.</h4>
                            Afin de terminer, merci de compléter maintenant votre profil. Lors de la sélection des sujets, nous refuserons les présentateurs n'ayant pas complété leur profil. Le texte et le profil sont utilisés pour vous présenter, dans la partie Speaker, ainsi que sur le programme papier. Bref, prenez le temps de bien rédiger et de vérifier votre présentation.
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row" ng-show="profileComplete">
                    <div class="col12">
                        <p class="label label-danger">
                            <h4>Votre profil est complet</h4>
                            Allez dans la section <a href="#/speaker/proposals">propositions</a> pour poster un sujet, ou pour suivre la validation de vos sujets.
                        </p>
                        <hr>
                    </div>
                </div>

                <ng-include src="'views/speaker/speaker_details.html'"></ng-include>

                <div class="row">
                    <div class="col6 push6">
                        <ul>
                            <li class="btn">
                                <input type="submit" ng-click="updateProfile()" value="Modifier">
                            </li>
                        </ul>
                    </div>

                    <div class="col12" ng-show="feedback">
                        <div class="alert alert-{{feedback.type}}" ng-show="feedback">{{feedback.message}}</div>
                        <p class="label label-danger" ng-show="profileComplete">                            
                            Allez dans la section <a href="#/speaker/proposals">propositions</a> pour continuer.
                        </p>
                    </div>                    
                </div>
            </div>
        </form>
    </div>
</div>
