<div class="contact">

<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col9">

                <h1>Nous contacter</h1>
                <p>Devoxx France<br>
                   Association du Paris JUG<br>
                <a href="mailto:info@devoxx.fr">info@devoxx.fr</a>
                </p>

            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <form>

            <div class="row">
                <div class="col12" ng-controller="ContactCtrl">

                    <ul ng-hide="feedback.type == 'info'">
                        <li>
                            <label>Votre nom</label>
                            <input type="text" class="text" name="name" value="" devoxx-uniform ng-model='model.name' />
                        </li>
                        <li>
                            <label>Votre email</label>
                            <input type="email" class="text" name="name" value="" devoxx-uniform ng-model='model.email' />
                        </li>
                        <li>
                            <label>Société</label>
                            <input type="text" class="text" name="company" value="" devoxx-uniform ng-model='model.company' />
                        </li>
                        <li>
                            <label>Votre question</label>
                            <textarea rows="5" name="question" devoxx-uniform ng-model="model.question"></textarea>
                        </li>
                        <li class="btn">
                            <input type="submit" name="submit" value="Send" ng-click="send()" />
                        </li>


                    </ul>


                    <div ng-show="feedback" class="alert alert-{{feedback.type}}">
                        {{feedback.message}}
                    </div>

                </div>

                <div class="col6 push2 ">

                    <div class="banner">
                        <h4>IMPORTANT NOTE</h4>
                        <p>Vérifiez notre page <a href="#faq">FAQ page</a> avant de nous contacter.</p> 
                        <p>Pour toute demande de sponsoring, merci de visiter notre page <a href="#sponsor">Sponsor</a></p>                   
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>