 
<div class="faq">

<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col11">

                <h1>Questions fréquentes</h1>
                <h3>Toutes vos questions à propos de Devoxx France</h3>
            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col12">

                <h1>Questions fréquentes</h1>

                <div id="accordion" accordeon>

                     <h4 class="acco_title">Présentation</h4>
                    <div class="acco_content" style="display: block;">
                        <p>Devoxx France est une conférence organisée depuis 2012, pour les développeurs passionnées. La 3ème édition a lieu au mois d'avril 2014 à Paris. Devoxx France fait partie de la famille des conférences <strong>Devoxx</strong>, dont la version Anglaise se déroule en Belgique en novembre. Durant 3 jours, elle propose des présentations et événements, principalement en français. Devoxx France est organisée en partenariat avec Stephan Janssen, créateur et organisateur de Devoxx Belgique. Le Paris JUG et Stephan Janssen travaillent ensemble et allient leurs expériences pour garantir la qualité de Devoxx France.</p>
                    </div>

                    <div class="acco_content" style="display: block;">
                        <p>La conférence accueille environ 1500 personnes pendant 3 jours, au centre de conférence de l'Hôtel Marriott Paris-Rive Gauche. La conférence se
                            déroule en 2 temps. La première journée, appelée <strong>Université</strong>, propose des ateliers et des présentations longues. Les deuxième et troisième journées, appelées <strong>Conférence</strong>, proposent plusieurs conférences dans 6 ou 7 salles d'environ 200 places. Ceci vous 
                            permet de choisir votre programme, et de décider d'aller voir les thèmes qui vous passionnent.</p>
                    </div>


                    <h4 class="acco_title">Inscription</h4>
                    <div class="acco_content" style="display: block;">
                        <p>Les inscriptions seront ouvertes en novembre prochain.</p>
                    </div>

                    <h4 class="acco_title">Prix</h4>
                    <div class="acco_content" style="display: block;">
                        <p>
                            L'entrée à la conférence comprend l'accès aux conférences, à la totalité de l'espace d'exposition, à l'ensemble des présentations et aux buffets des petits déjeuners et déjeuners. Des boissons et du café sont aussi librement accessibles toute la journée. Sur présentation de votre badge personnel, vous pourrez retirer un sac du conférencier avec carnet, stylo et tee-shirt souvenir.</P>

                            <p>Les tarifs 2014 :</p>
                        <table width="100%" cellspacing="1" cellpadding="15" border="0" class="sponsors_opportunities">
                            <tbody>
                            <tr>
                                <th width="70%" align="center" class="tablehead"></th>
                                <th width="10%" align="center" class="tablehead">Combi<br></th>
                                <th width="10%" align="center" class="tablehead">Conference<br></th>
                                <th width="10%" align="center" class="tablehead">Université<br></th>
                            </tr>
                            <tr>
                                <td class="tabletxt1">Jours</td>
                                <td align="center">3 jours</td>
                                <td align="center">jeudi et vendredi</td>
                                <td align="center">mercredi</td>
                            </tr>
                             <tr>
                                <td class="tabletxt1">Prix</td>
                                <td align="center">470€ HT</td>
                                <td align="center">360€ HT</td>
                                <td align="center">155€ HT</td>
                            </tr>
                            </tbody>
                        </table>

                        <p>Il n'existe pas de formule "mercredi/jeudi" uniquement. Chaque badge est nominatif et ne peut être cédé ou prêté.</P>
                        </div>

                    <h4 class="acco_title">Type de présentations</h4>
                    <div class="acco_content" style="display: block;">
                        <p>
                            Les Conferences sont des présentations de 50 minutes presentations (*), le jeudi et le vendredi uniquement.<br>
                            Les Universités sont des présentations en profondeur de 3 heures avec une pause de 30mn (= 75mn + 30mn pause + 75mn) (*) le mercredi uniquement<br>
                            Les Tools in Action sont des présentations de produits, d'outils ou orientées pratique, de 30 minutes (*) mercred/jeudi/vendredi<br>
                            Les Hands-on Labs sont des ateliers pratiques, dans des salles de 30 à 50 personnes, pendant 3 heures. Un ordinateur est souvent indispensable pour participer. Mercredi uniquement.<br>
                            Les Quickies sont des présentations rapides de 15 minutes, le jeudi et le vendredi uniquement, pendant la pause déjeuner. Jeudi et vendredi.<br>
                            Les BOF (Bird of a Feather) sont des sessions informelles, pour rencontrer d'autres développeurs. Mercredi soir et jeudi soir.<br><br>
                            (*) Enregistrées pour la plateforme Parleys.com</p>
                    </div>

                    <h4 class="acco_title">Agenda</h4>
                    <div class="acco_content" style="display: block;">
                        <p>
                            L'agenda détaillé sera publié quelques temps après la fermeture du CFP (Call for Paper)</p>
                    </div>


                    <h4 class="acco_title">Formation professionnelle (DIF)</h4>
                    <div class="acco_content" style="display: block;">
                        <p>Il est possible aux sociétés de faire financer leurs entrées par la formation professionnelle. Précisez-le lors de votre inscription : vous devez cocher la bonne case, et remplir les quelques champs supplémentaires. La formation professionnelle est prise en charge par notre partenaire formation, la société <strong>Oxiane</strong>. Votre dossier lui sera donc transmis. Les équipes d'Oxiane prendront ensuite contact avec vous pour la suite des démarches.</p>
                    </div>

                    <h4 class="acco_title">Twitter</h4>
                    <div class="acco_content" style="display: block;">
                        <p>Suivez-nous sur notre compte <a href="http://twitter.com/devoxxfr">@DevoxxFR</a>.</p>
                    </div>

                    <h4 class="acco_title">Parleys.com</h4>
                    <div class="acco_content">
                        <p>Revivez et revoyez les conférences Devoxx des années précèdentes sur <a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations">Parleys.com</a>.</p>
                    </div>

                </div>

            </div>

            <div class="col6 push2 ">

                <div class="banner">
                    <h4>D'autres questions?</h4>
                    <p>Merci de <a href="#/contact">nous contacter</a>.</p>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

