<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col16">

                <h1>Logged out</h1>
                <h3>Merci d'avoir utilisé le CFP</h3>
            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">
        <div class="row">
            <p>Ce site a été développé <a href="http://www.devoxx.be/#/team">l'équipe Devoxx Belgique</a>.</p>
            <p>Le code source du site en Français est sur Github (<a href="https://github.com/nicmarti/cfp-speaker">https://github.com/nicmarti/cfp-speaker</a>).</p>
            <p><a href="/">Retourner à la page d'accueil</a>.</p>
        </div>
    </div>
</div>