<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>Nouveau à Devoxx ?</h1>
                <h3>Inscrivez-vous pour pouvoir proposer des sujets (CFP)</h3>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <form ng-hide="feedback.type == 'info'" name="registerForm" ng-submit="register()">
            <div class="row">
                <div class="col12">                
                    <h4>Merci de compléter chaque champ</h4>
                    <ul>
                        <li>
                            <label for="registerFirstname">Votre prénom</label>
                            <input id="registerFirstname" type="text" ng-model="model.newUser.firstname" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerLastname">Nom de famille</label>
                            <input id="registerLastname" type="text" ng-model="model.newUser.lastname" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerEmail">Votre adresse email</label>
                            <input id="registerEmail" type="email" ng-model="model.newUser.email" required devoxx-uniform>
                        </li>
                        <li>
                            <label for="registerEmail">Merci de saisir à nouveau votre email</label>
                            <input id="registerEmail" type="email" ng-model="model.newUser.email2" required devoxx-uniform>
                        </li>
                        <li>
                            <label></label>
                            <div class="alert alert-danger" ng-hide='registerForm.$pristine || emailsMatch()'>Les 2 adresses doivent correspondre</div>
                        </li>

                        <li>
                            <label for="registerUsername">Nom d'utilisateur</label>
                            <input id="registerUsername" type="text" ng-model="model.newUser.username" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerPassword">Mot de passe</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password" required devoxx-uniform>
                        </li>
                        <li>
                            <label for="registerPassword">Mot de passe à nouveau</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password2" required devoxx-uniform>
                        </li>                        
                        <li>
                            <label></label>
                            <div class="alert alert-danger" ng-hide='registerForm.$pristine || passwordsMatch()'>Les mots de passe doivent correspondre</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col9 push3">
                    <div class="alert alert-{{feedback.type}}" ng-show="feedback">{{feedback.message}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col6 push6">
                    <ul>
                        <li class="btn">
                            <input type="submit" name="" value="Valider" ng-disabled="!hasNoTypo()">
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</div>
