<div class="sponsors">

    <div id="topinfo" class="area orange">
        <div class="grid">
            <div class="row">
                <div class="col9">
                    <h1>Sponsors</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <div id="sponsors_opportunities" class="area lightgrey">
        <div class="grid">

            <div class="row">
                <div class="col20">
                    <h2>Sponsors</h2>
                    <p>Avec plus de 1450 conférenciers, 130 orateurs et 24 exposants, le bilan de la 2ème édition de Devoxx France est
                        largement positif. Venez rencontrer des développeurs pendant 3 jours, pour présenter votre société et vos produits.</p>
                    <p><a href="#contact">Contactez-nous</a> rapidement pour que nous venions vous présenter le projet</a>
                </div>
            </div>

            <div class="row">
                <div class="col20">
                    <table width="100%" cellspacing="1" cellpadding="15" border="0" class="sponsors_opportunities">
                        <tbody>
                        <tr>
                            <th width="70%" align="center" class="tablehead"></th>
                            <th width="10%" align="center" class="tablehead">Platinum<br></th>
                            <th width="10%" align="center" class="tablehead">Silver<br></th>
                            <th width="10%" align="center" class="tablehead">Bronze<br></th>
                        </tr>
                        <tr>
                            <th align="left" class="tablesub" colspan="6">Logo de votre société</th>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Imprimé sur le kit du conférencier (sac, carnet)</td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Envoi de message dans la lettre d'information</td>
                            <td align="center">2</td>
                            <td align="center">1</td>
                            <td align="center">-</td>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Votre logo sur le site Devoxx France</td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                        </tr>
                        <tr>
                            <th align="left" class="tablesub" colspan="6">Salon exposant</th>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Stand</td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Taille du stand</td>
                            <td align="center">18m2 (6x3)</td>
                            <td align="center">8m2 (4x2)</td>
                            <td align="center">6m2 (3x2</td>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Wifi</td>
                            <td align="center">Oui</td>
                            <td align="center">Oui</td>
                            <td align="center">Sur demande</td>
                        </tr>
                        <tr>
                            <th align="left" class="tablesub" colspan="6">Slot de conférence réservé</th>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Le sujet doit être envoyé avant la fermeture du CFP. Tout sujet reçu après ne sera pas accepté.</td>
                            <td>1 Conference</td>
                            <td>1 Conference</td>
                            <td>-</td>

                        </tr>
                        <tr>
                            <td class="tabletxt1">Enregistrement des vidéos</td>
                            <td align="center"><img style="padding-left: 10px;" src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                        </tr>
                        <tr>
                            <th align="left" class="tablesub" colspan="6">Sac du conférencier Devoxx</th>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Insertion publicitaire (doc A4, goodie)</td>
                            <td align="center">1</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th align="left" class="tablesub" colspan="6">Badge accès exposant</th>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Valable 3 jours</td>
                            <td align="center">10</td>
                            <td align="center">8</td>
                            <td align="center">6</td>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Liste des participants (nom, fonction, société)</td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                            <td align="center"><img src="../images/carousel_pager.png" alt=""></td>
                        </tr>
                        <tr>
                            <th align="left" class="tablesub" colspan="6">Insertion dans le programme</th>
                        </tr>
                        <tr>
                            <td class="tabletxt1">Programme papier format A4</td>
                            <td align="center">à définir</td>
                            <td align="center">à définir</td>
                            <td align="center">à définir</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Tableau donné à titre informatif, sous réserve de modification. Merci de nous contacter pour les détails de chaque formule de sponsoring.</P>
                </div>
            </div>
        </div>
    </div>
</div>
